
.p1 {
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
}

.p2 {
    padding: 10px;
    border: 2px dashed red;
    margin: auto;
    box-sizing: content-box;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

.p3 {
    padding: 10px;
    border: 2px dashed red;
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
}
.card{
    max-width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    text-align: center;
    margin: 0 auto;
    padding: 20px 5px;
}
.card img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.card button{
    border: none;
    background-color: rgba(0, 128, 0, 0.822);
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    transition:0.3s all;
}
.card button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}